<!DOCTYPE html>
<html lang="pt-br">

<%- include('partials/head.ejs', {title: 'ChatStats | See the metrics from your WhatsApp chats' }) %>

    <head>
        <script src="/scripts/libs/svgInject.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"></script>
        <script src="/scripts/animateMockup.js"></script>
    </head>

    <body>
        <div class="w-full min-h-screen bg-slate-50 relative">
            <%- include('partials/header.ejs', header)%>

                <main>
                    <%- include('partials/uploadSection.ejs', uploadSection) %>

                    <div class="px-6">
                        <section id="how-to-use"
                            class="max-w-screen-xl md:mx-auto flex flex-col md:flex-row gap-16 my-32 md:my-64 relative">
                            <div class="md:flex-7 md:sticky top-32 h-min">
                                <h2 class="text-3xl font-bold leading-tight tracking-tight text-slate-800 mb-8 md:text-4xl relative inline-block z-10"><%- howToUse.title %></h2>

                                <nav>
                                    <ul class="flex py-2 mb-8 border-b gap-8">
                                        <% howToUse.platformsTutorials.forEach((platform, index)=> { %>
                                            <li><button data-platform-id="<%= index %>" class="relative text-base block <%= index === 0 ?  
                                                    'font-semibold text-slate-600 after:w-full' : 'text-slate-500' %>
                                                    md:text-lg
                                                    z-10 after:w-0 after:transition-all
                                                    after:absolute after:block after:h-1 after:rounded after:bg-main
                                                    after:bottom-0 after:left-0 after:z-[-1]">
                                                    <%= platform.name %>
                                                </button></li>
                                            <% }) %>
                                    </ul>
                                </nav>

                                <div class="relative h-auto">
                                    <% howToUse.platformsTutorials.forEach((platform, index)=> { %>
                                        <ul class="<%= index > 0 ?  
                                        'absolute top-0 opacity-0 translate-y-8 z-[-10]' : 'delay-300 opacity-100 translate-y-0' %>
                                        flex duration-500 flex-col gap-8 text-sm md:text-base transition-all">
                                            <% howToUse.platformsTutorials[index].steps.forEach(({ title, content }, stepCounter)=> { %>
                                                <li class="flex gap-4 items-start">
                                                    <span class="flex flex-none items-center justify-center font-black text-xl md:text-3xl h-12 w-12 md:h-14 md:w-14 text-white bg-main rounded mt-1"><%= stepCounter + 1 %></span>
                                                    <div>
                                                        <h3 class="text-slate-700 font-medium text-xl md:text-2xl"><%- title %></h3>
                                                        <p class="text-slate-500"><%- content %></p>
                                                    </div>
                                                </li>
                                                <% }) %>
                                        </ul>
                                        <% }) %>
                                </div>
                            </div>

                            <img src="assets/mockup.svg" id="mockup" alt="Mockup" 
                            onload="substituteMockup(this)" class="block w-full md:flex-5 mt-8 md:mt-16 md:mx-0">
                        </section>

                        <section id="faq"
                            class="max-w-screen-xl md:mx-auto md:flex md:flex-row gap-16 my-32 md:my-64">
                            <div class="flex-2 mb-8">
                                <h2 class="text-3xl  font-bold leading-tight tracking-tight text-slate-800 mb-8 md:text-4xl relative inline-block z-10"><%- faq.title %></h2>
                                <p class="text-sm md:text-base text-slate-500"><%- faq.paragraph %></p>
                            </div>


                            <div class="flex-3 border-b h-min">
                                <% faq.questions.forEach(({question, answer}) => { %>
                                    <details class="py-6 border-t">
                                        <summary class="cursor-pointer text-base md:text-lg font-medium text-slate-800 flex justify-between items-center">
                                            <%= question %>
                                            <img src="/assets/arrow-down.svg" alt="Open/Close">
                                        </summary>
                                        <p class="mt-4 text-slate-500 text-sm md:text-base"><%- answer %></p>
                                    </details>
                                <% }) %>
                            </div>
                        </section>
                    </div>
                </main>

                <%- include('partials/footer.ejs') %>
        </div>
        <script src="/scripts/autoSendForm.js"></script>
        <script src="/scripts/animateHome.js"></script>

        <script data-name="BMC-Widget" data-cfasync="false"
            src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="tobiasMarion"
            data-description="Support me on Buy me a coffee!" data-color="#40DCA5" data-position="Right"
            data-x_margin="18" data-y_margin="18"></script>
    </body>

</html>