<!DOCTYPE html>
<html lang="pt-br">

<%- include('partials/head.ejs', { title: "ChatStats | Resultados" }) %>

  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>

  <body>
    <div class="w-full min-h-screen bg-stone-50 scroll-smooth	">
      <%- include('partials/header.ejs', {isHome: false}) %>


        <main class="max-w-screen-xl mx-auto px-3 pb-24">

          <section class="results my-10 max-w-screen-lg mx-auto">
            <h1 class="text-3xl font-bold tracking-tight text-center text-green-900 md:text-5xl">Prontinho! Vamos
              ver o que encontramos...</h1>
            <p class="text-sm text-center text-zinc-500 mt-4 md:text-base"> Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Unde, eveniet.</p>

            <div class="flex flex-col md:flex-row md:gap-4 overflow-x-auto py-8 items-center md:items-start <%= people.length > 3 ? 'md:justify-start' :  'md:justify-center'%>">

                  <% people.forEach((person, index)=> {%>
                    <%- include('partials/personArticle.ejs', { person, index }) %>
                      <%})%>
            </div>
          </section>

          <%- include('partials/charts.ejs', {dateTable}) %>
            <%- include('partials/privacySection.ejs') %>

        </main>

        <%- include('partials/footer.ejs') %>
    </div>

    <script src="/scripts/drawChart.js"></script>

  </body>

</html>